h1 {
	// font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 60px;
	line-height: 70px;
	text-align: center;
	letter-spacing: 10px;
	&:after {
    background: rgba(0, 0, 0, 0.8);
    content: '';
    display: block;
    height: 1px;
    margin: 10px auto 20px;
    width: 150px;
	}
}

h2 {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h3 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 30px;
	a {
    max-width: 60%;
    display: inline-block;
	}
}

h4 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 25px;
}

h5 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
}

ul {
	li {
		list-style: none;
		font-family: 'Raleway', Helvetica, Arial, sans-serif;
		font-weight: 800;
	}
}

p {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 18px;
	line-height: 25px;
}

a:hover, a:visited, a:focus {
	text-decoration: none;
}

body {
	padding: 15px;
	color: #333;
}

.main-container{
	max-width: 1200px;
	margin: 15 auto;

	.header-container {
		margin-bottom: 80px;
		h5 {
			font-size: 18px;
			text-align: center;
			font-weight: 300;
		}
	}

	ul {
		padding-left: 0px;
		display: flex;
		flex-wrap: wrap;

		li {
			margin-right: 20px;
			flex-grow: 1;
			text-align: center;
			font-weight: 100;
		}
	}

	h3 {
		padding-bottom: 10px;
		border-bottom: 1px solid #333;
		& small {
			float: right;
			line-height: 40px;
			font-weight: 100;
		}
	}

	.section-container {
		margin-bottom: 100px;
		.section-container {
			margin-bottom: 50px;
		}

		&.projects {
			.divider-after:after {
		    background: rgba(0, 0, 0, 0.8);
		    content: '';
		    display: block;
		    height: 1px;
		    margin: 10px auto 5px;
		    width: 50px;
			}
		}
	}
}

input:focus { outline: none; }

.center {
	text-align: center;

	input {
		border: 0px;
		border-bottom: 1px solid #333;
	}
}

@media (max-width: 600px) {
  h3 {
    font-size: 24px;
  }
}

